/* start variables */
:root {
    --main-color: #19c8fa;
    --main-transition: 0.7s;
  }
  /* end variables */
  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     }
     html {
        scroll-behavior: smooth;
 }
 body {
    font-family: 'Cairo', sans-serif; 
}
ul {
    list-style: none;
} 
a {
   text-decoration: none;
}
.container {
    padding-left: 15px ;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative; 
   flex-wrap: wrap; 
}
.header .container::after {
   content: "";
   position: absolute;
   height: ;
   background-color: #a2a2a2;
   bottom: 15px;
   width: calc(100% - 30px);
   left: 15px;
   transition: var(--main-transition);
}
.header .logo {
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width :767px) {
.header .logo {
   height: 60px;
   width: 100%;
}
}
header nav .toggle-menu {
   color:black ;
   font-size: 20px;
}
.header .main-nav {
display: flex;
flex: 1;
align-items: center;
justify-content: center;
}
@media (max-width:767px) {
.header .main-nav {
   margin : auto;
}
}
.header .main-nav > li > a {
display: flex;
justify-content: center;
align-items: center;
height: 105.56px;
padding: 0 30px; 
text-decoration: none;
font-size: 14px;
transition :var(--main-transition);
color:black;
position: relative;
overflow: hidden;
}
@media (max-width:767px) {
.header .main-nav > li > a {
   padding :10px;
   font-size: 14px;
   height: 40px;
}
}
.header .main-nav > li > a::before {
content:"";
position: absolute;
width: 100%;
height: 4px;
background-color:var(--main-color);
bottom: 0;
left: -100%;
transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
color: var(--main-color);
background-color:#fafafa;
}
.header .main-nav > li > a:hover::before {
left: 0;
}
header nav ul {
display: flex;
}
h5 {
    direction: rtl;
    font-size: 25px;
    margin: 22px;
    padding: 10px;
    font-weight: normal;
    color:#000000d4;
}
@media(max-width:767px) {
    h5 {
        font-size: 17px;
        padding-right: 0;
    }
}
.p {
    direction: rtl;
}
.emo1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing {
    position: relative;
}
.landing::before {
    content :"";
    position: absolute;
    left: 0;
    top: -800px;
    width: 100%;
    height: 100%;
    background-color: #C5F2FF;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 138.55px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -3px
}
@media (max-width: 991px) {
    .landing .text h1 {
        font-size: 32px;
    }
}
.landing .text p {
    font-size: 21px;
    line-height: 1.7;
    letter-spacing: 0px;
    margin: 5px 0 0;
}
@media (max-width: 991px) {
    .landing .text p {
        font-size: 15px;
    }
}
.landing .image img {
    position: relative;
    width: 400px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: #00789B;
}
.landing .go-down i {
    animation :bouncing 1.5s infinite ;
}
@keyframes up-and-down {
    0%, 100% {
        top:0 ;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
0%, 
10%,
20%,
50%,
80%,
100% {
    transform: translateY(0);
}
40%,
60% {
    transform: translateY(-15px);
}
}
@keyframes left-move {
    50% {
        left: 0;
        width: 2px;
        height: 2px;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
/* footer  */
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000000cf;
    position: relative;
    color: white;
    text-align: center;
}
.footer .container30 {
    position: relative;
}
.footer .img1 {
    margin-bottom: -15px;
}
.footer p:not(.copyright) {
    margin: 20px auto;
text-transform: uppercase;
padding: 20px;
border-bottom: 1px solid white;
font-size: 25px;
width: fit-content;
}
.footer .social {
    display: flex;
justify-content: center;
padding: 15px;
}
.footer .social i {
    padding: 10px 15px;
color: white;
transition: var(--main-transition);
}
.footer .social i:hover {
    color: var(--main-color);
}
.footer .social i:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 70%);
}
.footer .copyright {
    margin-top: 40px;
}
.aspan {
    font-size: 20px;
    font-weight: bold;
}
/* footer  */